header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
nav {
        button {
                display: none;
        }
        ul {
                border: none;
                display: block;
        }
}
nav ul li {
        float: left;
        border: none;
}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
 
/*----------- FOOTER --------------*/
    
